.button {
  background: linear-gradient(to right, get-color(light-primary), get-color(primary));
  font-weight: 500;
  &:hover,
  &:focus {
    background: linear-gradient(to right, get-color(primary), get-color(light-primary));
  }
  &.download {
    border-radius: rem-calc(60);
    padding: rem-calc(7 14 7 7);
    margin-right: rem-calc(10);
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(50);
    img{
      height: rem-calc(50);
      width: auto;
    }
  }
}
